<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.novo.aanufrie"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:name=".LinesApplication"
        android:allowBackup="true"
        android:icon="@drawable/lines"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LinesViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecActivity"
            android:label="@string/title_activity_rec" >
        </activity>
        <activity
            android:name=".EditRecActivity"
            android:label="@string/title_activity_edit_rec" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>

        <service android:name=".RobotService" />

        <activity
            android:name=".ProgramInfoActivity"
            android:label="@string/title_activity_program_info" >
        </activity>
    </application>

</manifest>
